/*definicion de variables (tamaños y colores)*/
:root{
    --color: #3d978bd0;
}
/*Reseteo de los estulos*/
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    text-decoration: none;   
}

/*definir las selecciones*/
body{
    min-height: 100vh;
}
.header{
    background-color: var(--color);
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #2ea0a8;
}
.header h1{
    color: whitesmoke;
    font-size: 30px;
    text-shadow: 5px 5px 5px #00000049;
}
.wrapper{
    display: flex;
}
.aside{
    width: 300px;
    background-color: #7ae5ec;
    border-right: 1px double #186183;
    border-bottom: 1px double #186183;
}
aside li a {
    color: black;
    font-size: 14px;
    font-weight: bold;
}
aside h2{
    background-color: #00000086;
    color: white;
    font-size: 16px;
    padding: 10px;
}
aside ul{
    list-style-type: none;
}
aside li{
    border-bottom: 1px dashed #000000;
    padding: 10px;
}
aside li:hover{
    background-color: white;
}

.main{
    padding: 30px;
    min-height: calc(100vh - 70px - 50px);
}
main h2:first-child{
    margin-bottom: 20px;
    border-bottom: 1px solid #000000;
    padding-bottom: 20px;
    font-size: 20px;
}
main p{
    text-align: justify;
    border-bottom: 1px solid #0000003a;
    background-color: #71bbd8fd;
    padding: 20px;
    font-size: 15px;
    border: 1px solid #000000;
}
main section h3{
    font-size: 20px;
    margin-bottom: 25px;
    margin-top: 25px;
}
.pensum{
    display: flex;
}
.pensum article{
    width: 33%;
    border: 1px solid var(--color);
    margin-right: 20px;
    border-bottom: 5px solid #0d5470fd;
}
.pensum ul{
    margin-left: 15px;
}
.pensum h4{
    background-image: linear-gradient(to right, #71bbd8fd, #0d5470fd);
    background-color: #186183;
    padding: 5px;
    font-size: 15px;
    color: white;
}
.pensum ul{
    padding: 10px;
}
.pensum li{
    padding: 4px;
    font-size: 14px;

}
.footer{
    height: 45px;
    background-color: var(--color);
    display: flex;
    align-items: center;
    justify-content: center;
}
footer p {
    color: white;
    font-size: 14px;
}